:root{
  --font-main: "Red Hat Display";
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
  --font-color: hsl(215, 51%, 70%);
  --price-color: hsl(178, 100%, 50%);
  --hover-color: #00fff7;
}

body{
 font-family: var(--font-main);
 color: var(--font-color); 
 background-color: var(--main-bg-color);
}

.container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card{
  margin-top: 12vh;
  padding: 30px;
  border-radius: 10px;
  max-height: 700px;
  max-width: 360px;
  background-color: var(--card-bg-color);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.card-img:hover .hover-overlay{
  opacity: 1;
  cursor: pointer;
}

.hover-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: hsl(178, 100%, 50%, 0.5);
  width: 360px;
  height: 360px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  opacity: 0;
}

h1{
 font-size: 22px;
 color: var(--white-color) ;
 transition: 0.2s ease-in;
 width:max-content;
}

h1:hover{
  cursor: pointer;
  color: var(--hover-color)
}

.description{
  font-size: 18px;
}

.content-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.etherium{
  color: var(--price-color);
}

.content-info p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-info p img{
  margin-right: 6px;
}

.creator-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.horizontal-line{
  content: "";
  border: 1px solid;
  border-color: var(--line-color);
}

.creator-info img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 1px solid;
  border-color: var(--white-color);
  border-radius: 60px;
}

.author{
  color: var(--white-color);
  transition: 0.2s ease-in;
}

.author:hover{
  cursor: pointer;
  color: var(--hover-color)
}